* 这是一个关于学习PyQt5的代码库
* 学习的视频链接如下：https://www.bilibili.com/video/BV1LT4y1e72X/

* 在P21章讲解了和云函数有关的知识点，还挺不错！
[云函数](https://www.bilibili.com/video/BV1LT4y1e72X/?p=21&spm_id_from=pageDriver&vd_source=2bcd43be8e146458fb75ee7338394842)
